.collection-page{
    display: flex;
    flex-direction: column;

    .title{
        font-size: 40px;
        margin: 0 auto 30px;
    }

    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 20px;
        column-gap: 10px;
        
    }
}